html[data-theme='dark'] {
    --header-text-color: #ffffff;
    --header-background-color: #000000;
    --account-menu-hover: gray;
    /*--button-border-color: #ba8fc2;*/

    /*--input-text-color: #ffffff;*/
    /*--input-placeholder-text-color: #dddddd;*/
    /*--input-background-color: #7c7c7c;*/
    /*--input-border-color: #ba8fc2;*/

    /*--background-color: #292929;*/
    /*--icon-color: #ba8fc2;*/
}

html[data-theme='light'] {
    --header-text-color: #252525;
    --header-background-color: #FAD690;
    --account-menu-hover: rgba(119, 118, 118, 0.32);
    /*--button-border-color: #4e005c;*/

    /*--input-text-color: #252525;*/
    /*--input-placeholder-text-color: #a7a7a7;*/
    /*--input-background-color: #ffffff;*/
    /*--input-border-color: #4e005c;*/

    /*--background-color: #dfdfdf;*/
    /*--icon-color: #4e005c;*/
}
