
.text-on-header {
  padding: 12px;
  transition: all 0.3s;
  color: var(--header-text-color);

  &:hover {
    background-color: #11A8B6;
  }
}

.button-block-autorize-registr {
  display: flex;
  align-items: center;

  .sign-in-button {
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
    background-color: #11A8B6;
    cursor: pointer;
    color: black;
  }

  p {
    color: var(--header-text-color);
  }

  .sign-up-button {
    margin: 5px;
    border-radius: 7px;
    cursor: pointer;
    padding: 5px;
    color: var(--header-text-color);
    transition: all 0.3s;

    &:hover {
      background-color: #11A8B6;
    }
  }
}

.avatar {
  border-radius: 50%;
  margin: 5px;

}





